.digital-wrap {
  transform-style: preserve-3d;
  transform: perspective(1000px);
  cursor: pointer;
}

.digital-container {
  --rX: 0;
  --rY: 0;
  --bX: 50%;
  --bY: 80%;

  width: 300px;
  height: 360px;
  border-radius: 16px;
  overflow: hidden;

  position: relative;
  transform:
    rotateX(calc(var(--rX) * 1deg))
    rotateY(calc(var(--rY) * 1deg));

  background-position: var(--bX) var(--bY);
  background-size: cover;

  box-shadow: 0 30px 60px rgba(0,0,0,0.35);
  transition: transform 0.6s;
}

.digital-container::before,
.digital-container::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border: 1px solid white;
  opacity: 0.3;
  transition: 0.3s;
}

.digital-container::before {
  top: 20px;
  right: 20px;
  border-bottom: none;
  border-left: none;
}

.digital-container::after {
  bottom: 20px;
  left: 20px;
  border-top: none;
  border-right: none;
}

.digital-wrap:hover .digital-container::before,
.digital-wrap:hover .digital-container::after {
  width: calc(100% - 40px);
  height: calc(100% - 40px);
}

.digital-container--active {
  transition: none;
}
